/* FLOATING ADD TREND BUTTON */

.trend-form-button {
  position: fixed;
  bottom: 24px;
  left: calc(50% - 24px); //mid width
  background: var(--color-accent);
  color: var(--color-white);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  box-shadow: 0 6px 20px var(--color-accent-shadow);
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 30;

  img {
    align-self: center;
    height: 24px;
    width: 24px;
    transition: transform 0.5s;
  }

  &:hover {
    img {
      transform: rotate(90deg);
    }
  }
}

/* RIGHT PANEL FORM */

.trend-form-panel {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto; //breakpoint s
  z-index: 30;

  .form-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 32px 40px;
    font-weight: bold;

    .header-title {
      flex-grow: 2;
      font-size: var(--font-xl);
    }

    .button {
      display: none;
      flex-grow: 1;
    }
  }

  .trend-form {
    padding: 0 40px;
    display: flex;
    flex-flow: column;
    height: 100%;

    .form-field {
      display: flex;
      flex-flow: column;
      margin-bottom: 56px;


      label {
        font-size: var(--font-s);
        margin-bottom: 8px;
        font-weight: bold;
      }

      input, textarea {
        font-family: var(--font);
        border: 0.6px solid var(--color-grey-secondary);
        box-sizing: border-box;
        border-radius: 3px;
        padding: 20px 16px;
        font-size: var(--font-m);

        &::placeholder {
          color: var(--color-grey-secondary);
        }
      }

      &.form-textarea {
        height: 100%;

        textarea {
          height: 100%;
        }
      }

    }
  }

  .form-footer {
    padding: 24px 40px;

    .button {
      margin: 12px 0;
    }
  }

}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}

/* RESPONSIVE BREAKPOINTS */

@media only screen and (min-width: 768px) {
  .trend-form-button {
    bottom: 76px;
    left: unset;
    right: 76px;
    height: 72px;
    width: 72px;

    img {
      height: unset;
      width: unset;
    }
  }

  .trend-form-panel {
    width: 490px;
    border-radius: 50px 0 0;
    overflow-y: unset;

    .form-header {
      padding: 70px 40px;

      .button {
        display: block;
      }

    }

    .trend-form {
      overflow-y: auto;
    }

    .form-footer {
      display: none;
    }

  }

}

@media only screen and (min-width: 1440px) {

}