<div class="trend-form-button" (click)="showAddPanel()" *ngIf="!showPanel"><img src="./assets/icons/add.svg" alt="add"></div>

<div class="trend-form-panel" [@slideAnimation] *ngIf="showPanel">
    <form [formGroup]="trendForm" *ngIf="trendForm">
        <div class="form-header">
            <div class="header-title">{{mode == 'add' ? 'Nueva' : 'Editar'}} noticia</div>
            <div class="button button-secondary" (click)="closePanel()">Cancelar</div>
            <button class="button button-color font-bold" (click)="saveTrend()" [disabled]="trendForm.invalid">Guardar</button>
        </div>

        <div class="trend-form">
            <div class="form-field">
                <label for="field_url">URL*</label>
                <input type="url" id="field_url" name="url" placeholder="http://url.com" formControlName="url">
            </div>

            <div class="form-field">
                <label for="field_author">Autor</label>
                <input type="text" id="field_author" name="author" placeholder="Nombre del autor">
            </div>

            <div class="form-field">
                <label for="field_title">Título*</label>
                <input type="text" id="field_title" name="title" placeholder="Título de la noticia" formControlName="title">
            </div>

            <div class="form-field form-textarea">
                <label for="field_body">Contenido*</label>
                <textarea id="field_body" name="body" placeholder="Escribe aquí..." formControlName="body"></textarea>
            </div>
        </div>

        <!-- Footer only for breakpoint S -->
        <div class="form-footer">
            <button class="button button-color font-bold" (click)="saveTrend()" [disabled]="trendForm.invalid">Guardar</button>
            <div class="button button-secondary" (click)="closePanel()">Cancelar</div>
        </div>
    </form>
</div>
<div class="backdrop" [@opacityAnimation] *ngIf="showPanel"></div>