.loader {
  width: 100%;
  max-height: 100%;
  height: 50vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  place-content: center;

  img {
    height: 120px;
    animation: 1.5s infinite alternate loaderZoom;
  }

  span {
    padding-top: 12px;
    font-size: var(--font-l);
    font-weight: bold;
  }
}

/* ANIMATIONS */

@keyframes loaderZoom {
  from {transform: scale(1, 1)}
  to {transform: scale(0.5, 0.5)}
}