/* SIDENAV LEFT (BREAKPOINTS M/L) */

.sidenav-left {
  display: none; //breakpoint s
  position: fixed;
  width: var(--sidenav-left-width);
  height: 100%;
  background: var(--color-white);
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  overflow-y: auto;

  // Sidenav for breakpoint m and specified pages
  &.sidenav-mini {
    width: var(--sidenav-left-mini-width);

    .only-big {
      display: none;
    }

    .only-mini {
      display: block;
    }
  }

  /* START FLEX LAYOUT SPACES */
  .sidenav-top {
    flex: 1;
  }

  .sidenav-middle {
    flex: 2;
  }

  .sidenav-bottom {
    display: flex;
    flex: 1;
  }
  /* END FLEX LAYOUT SPACES */

  .sidenav-logo {
    padding: 48px 32px 12px;
    cursor: pointer;
  }

  .sidenav-logo-mini {
    padding: 48px 0;
    text-align: center;
  }

  .sidenav-news-counter {
    padding: 0 32px;

    .sidenav-news-counter-today {
      font-size: var(--font-m);
      color: var(--color-grey);
      margin-bottom: 10px;
    }
  }

  .sidenav-source {
    padding: 18px 32px 18px;
    margin: 32px 22px 32px 0;
    border-radius: 0 32px 32px 0;
    cursor: pointer;

    &.selected {
      background: var(--color-grey-light);
    }

    &:hover:not(.selected) {
      background: var(--color-grey-light-shade);
    }
  }

  .sidenav-copyright {
    width: 100%;
    padding: 18px 32px 68px;
    align-self: flex-end;
    text-align: center;
    font-size: var(--font-s);
  }
}

/* TOOLBAR TOP AND BOTTOM (BREAKPOINT S) */

.toolbar-logo {
  position: absolute;
  top: 20px;
  left: 24px;
  z-index: 20;

  img {
    width: 120px;
  }
}

.toolbar-bottom {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: var(--color-white);
  place-content: space-around;
  z-index: 20;

  .sidenav-source {
    padding: 12px 16px;
    border-radius: 32px 32px 0 0;
    cursor: pointer;
    opacity: 0.25;

    &.selected {
      background: var(--color-grey-light);
      opacity: 1;
    }
  }
}

/* SHOW / HIDE according mini sidenav  */

.only-big {
  display: none;
}

.only-mini {
  display: block;
}

/* RESPONSIVE BREAKPOINTS */

@media only screen and (min-width: 768px) {
  .sidenav-left {
    display: flex;
  }

  .toolbar-bottom, .toolbar-logo {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .only-big {
    display: block;
  }

  .only-mini {
    display: none;
  }
}