<!-- SIDENAV LEFT (BREAKPOINTS M/L) -->

<div class="sidenav-left" [ngClass]="{'sidenav-mini' : sidenavLeft.mini}">
    <div class="sidenav-top">
        <div class="sidenav-logo only-big" routerLink="feed"><img src="./assets/avantio/logo.svg" alt="avantio-logo"></div>
        <div class="sidenav-logo only-mini" routerLink="feed"><img src="./assets/avantio/favicon.svg" alt="avantio-logo"></div>

        <div class="sidenav-source sidenav-news-counter only-big" routerLink="feed">
            <div class="sidenav-news-counter-today">Hoy</div>
            <div class="font-xxl font-bold">{{sidenavLeft.trendsCounter}} Noticias</div>
        </div>
    </div>

    <div class="sidenav-middle">
        <div class="sidenav-source" routerLink="feed/elpais" [routerLinkActive]="'selected'">
            <img class="only-big" src="./assets/providers/el_pais.svg" alt="el_pais">
            <img class="only-mini" src="./assets/providers/el_pais_favicon.svg" alt="el_pais">
        </div>
        <div class="sidenav-source" routerLink="feed/elmundo" [routerLinkActive]="'selected'">
            <img class="only-big" src="./assets/providers/el_mundo.svg" alt="el_mundo">
            <img class="only-mini" src="./assets/providers/el_mundo_favicon.svg" alt="el_mundo">
        </div>
    </div>

    <div class="sidenav-bottom">
        <div class="sidenav-copyright only-big">Copyright © 2018 Avantio Trends</div>
    </div>
</div>

<!-- TOOLBAR TOP AND BOTTOM (BREAKPOINT S) -->

<div class="toolbar-logo" routerLink="feed">
    <img src="./assets/avantio/logo.svg" alt="avantio-logo">
</div>

<div class="toolbar-bottom">
    <div class="sidenav-source" routerLink="feed/elpais" [routerLinkActive]="'selected'">
        <img src="./assets/providers/el_pais_favicon.svg" alt="el_pais">
    </div>
    <div class="sidenav-source" routerLink="feed/elmundo" [routerLinkActive]="'selected'">
        <img src="./assets/providers/el_mundo_favicon.svg" alt="el_mundo">
    </div>
</div>