* {
  outline: none;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: var(--font);
  font-size: var(--font-m);

  // Fixed background watermark
  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("./assets/avantio/watermark.svg") no-repeat bottom right;
    z-index: -1;
  }
}

.page-wrapper, .page-wrapper-mini { //Breakpoint s
  padding: 90px 24px 24px;

}

.font-bold {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    color: var(--color-accent);
  }
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  padding: 12px 26px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;

  &.button-secondary {
    color: var(--color-grey);
  }

  &:not(.button-color):hover {
    color: var(--color-accent);
  }

  &.button-color {
    background: var(--color-accent);
    color: var(--color-white);

    &:not([disabled]):hover {
      background: var(--color-primary);
      color: var(--color-white);
    }
  }

  &[disabled] {
    background: var(--color-grey);
    cursor: not-allowed;
  }
}

.today-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 66px;
  width: 100px;
  background: var(--color-primary);
  color: var(--color-white);
  text-indent: -33px;
  font-size: var(--font-s);
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    left: -66px;
    height: 66px;
    width: 66px;
    border-radius: 0 0 0 100%;
    background: var(--color-primary);
    z-index: -1;
  }
}

/* RESPONSIVE BREAKPOINTS */

@media only screen and (min-width: 768px) {
  .page-wrapper {
    padding: 82px 64px calc(82px + 72px) calc(var(--sidenav-left-width) + 64px); //bottom: calc(n + trend-form-button height)
  }

  .page-wrapper-mini {
    padding: 82px 64px calc(82px + 72px) calc(var(--sidenav-left-mini-width) + 64px);
  }

  .today-box {
    width: 290px;
    font-size: var(--font-m);
  }
}

@media only screen and (min-width: 1440px) {

}