/* Global theme variables */
:root {
  --font: 'Montserrat';

  --color-primary: #343434;
  --color-accent: #F15F41;
  --color-accent-light: rgba(241, 95, 65, 0.201956);
  --color-accent-shadow: rgba(241, 95, 65, 0.6);

  --color-white: #FFFFFF;
  --color-dark: #2E363D;

  --color-grey: #939393;
  --color-grey-light: #F2F2F2;
  --color-grey-light-shade: rgba(242, 242, 242, 0.4);

  --color-grey-secondary: #D8D8D8;

  --sidenav-left-width: 0;
  --sidenav-left-mini-width: 82px;

  --font-s: 12px;
  --font-m: 14px;
  --font-l: 16px;
  --font-xl: 18px;
  --font-xxl: 20px;
  --font-3xl: 22px;
  --font-4xl: 28px;
}

/* Predefined font sizes */
@each $n in ('s', 'm', 'l', 'xl', 'xxl', '3xl', '4xl') {
  .font-#{$n} {
    font-size: var(--font-#{$n});
  }
}

/* Predefined margins and paddings */
@each $n in (4,8,12,24,32) {
  .mtop-#{$n} {
    margin-top: #{$n}px;
  }

  .mleft-#{$n} {
    margin-left: #{$n}px;
  }

  .mright-#{$n} {
    margin-right: #{$n}px;
  }

  .mbottom-#{$n} {
    margin-bottom: #{$n}px;
  }

  .ptop-#{$n} {
    padding-top: #{$n}px;
  }

  .pleft-#{$n} {
    padding-left: #{$n}px;
  }

  .pright-#{$n} {
    padding-right: #{$n}px;
  }

  .pbottom-#{$n} {
    padding-bottom: #{$n}px;
  }
}

/* Responsive variables */

@media only screen and (min-width: 768px) {
  :root {
    --sidenav-left-width: 82px;
  }
}

@media only screen and (min-width: 1440px) {
  :root {
    --sidenav-left-width: 268px;
  }
}