.page-wrapper {
  padding-top: 120px;
  margin: 0 24px 24px;
}

/* TWO COLUMNS FLEX LAYOUT */
.trends-medium {
  display: flex;
  flex-flow: row;
  margin: 32px 0 0 0;
  place-content: space-between;
  flex-wrap: wrap;

  trend-preview {
    width: 100%;
    margin-bottom: 32px;
  }
}

/* THREE COLUMNS FLEX LAYOUT */
.trends-small {
  display: flex;
  flex-flow: row;
  place-content: space-between;
  flex-wrap: wrap;

  trend-preview {
    width: 100%;
    margin-bottom: 32px;
  }
}

/* RESPONSIVE BREAKPOINTS */

@media only screen and (min-width: 768px) {
  .page-wrapper {
    margin: 0;
  }

  .trends-medium {
    margin: 76px 0;
    trend-preview {
      width: 49%;
      margin-bottom: unset;
    }
  }

  .trends-small {
    &::after { // Fix space-between 2 items = 3 columns
      content: "";
      width: 32%;
    }

    trend-preview {
      width: 32%;
    }
  }
}

@media only screen and (min-width: 1440px) {

}