<trend-form></trend-form>
<div class="page-wrapper">
    <div *ngIf="!loading">
        <trend-preview [trend]="trends ? trends[0] : null" mode="big"></trend-preview>

        <div class="trends-medium">
            <trend-preview *ngFor="let trend of filterMediumTrends()" [trend]="trend" mode="medium"></trend-preview>
        </div>

        <div class="trends-small">
            <trend-preview *ngFor="let trend of filterSmallTrends()" [trend]="trend" mode="small"></trend-preview>
        </div>
    </div>

    <loader *ngIf="loading"></loader>
</div>