<trend-form [(showPanel)]="showTrendForm" [trend]="trendToEdit" ></trend-form>
<div class="page-wrapper" [class.page-wrapper-mini]="sidenavLeft.mini">

    <div *ngIf="!loading">
        <div class="back-button" routerLink="/feed">
            <img src="./assets/icons/back.svg" alt="back"> Todos los eventos
        </div>

        <div class="trend-page">
            <div class="trend-detail" *ngIf="trend">
                <div class="trend-image"><img [src]="trend.image ? trend.image : './assets/avantio/watermark.svg'" alt="trend-image"></div>
                <div class="trend-container">
                    <a class="external-link" [href]="trend.url" target="_blank"><span class="trend-title">{{trend.title}}</span> <img  src="./assets/icons/link.svg" alt="external-link"></a>
                    <div class="trend-body">{{trend.body}}</div>
                </div>
            </div>
            <div class="trend-options">
                <div class="trend-option" (click)="editTrend()"><img src="./assets/icons/edit.svg" alt="edit"></div>
                <div class="trend-option" (click)="deleteTrend()"><img src="./assets/icons/delete.svg" alt="delete"></div>
            </div>
        </div>
    </div>

    <loader *ngIf="loading"></loader>
</div>