.back-button {
  display: none;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;

  img {
    margin-right: 12px;
    transition: transform 0.1s linear;
  }

  &:hover {
    color: var(--color-accent);

    img {
      transform: translateX(-4px);
    }
  }
}

.trend-page {
  margin-top: 0;
  display: flex;
  flex-flow: column-reverse;
}

.trend-detail {
  width: 100%;

  .trend-image {
    width: 100%;
    height: 348px;

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  .trend-container {
    background: var(--color-white);
    width: 80%;
    border-radius: 12px;
    margin: 0 auto;
    padding: 48px;
    transform: translateY(-40px);
  }

  .trend-title {
    font-size: var(--font-xxl);
    font-weight: bold;
  }

  .trend-body {
    margin-top: 24px;
    columns: 2;
    column-width: 200px;
  }

  .external-link {

    img {
      margin-left: 6px;
      height: 11px;
      width: 11px;
    }
  }
}

.trend-options {
  margin-left: 46px;
  display: flex;
  flex-flow: row;
  align-self: flex-end;

  .trend-option {
    display: flex;
    justify-content: center;
    height: 32px;
    width: 32px;
    background: var(--color-accent-light);
    margin: 0 0 16px 16px;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 50%;
      height: 50%;
      align-self: center;
    }

    &:hover {
      background: var(--color-accent-shadow);
    }
  }
}

/* RESPONSIVE BREAKPOINTS */

@media only screen and (min-width: 768px) {
  .trend-page {
    flex-flow: row;
    margin-top: 45px;
  }

  .trend-detail {
    width: 80%;
  }

  .trend-options {
    flex-flow: column;
    align-self: auto;

    .trend-option {
      margin: 0 0 16px 0;
      height: 52px;
      width: 52px;

      img {
        width: unset;
        height: unset;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .back-button {
    display: flex;
  }
}