<div class="trend" *ngIf="trend" [ngClass]="{'trend-big' : mode == 'big', 'trend-medium' : mode == 'medium', 'trend-small': mode == 'small'}" [routerLink]="'/trend/' + trend._id" >
    <div class="trend-image"><img [src]="trend.image ? trend.image : './assets/avantio/watermark.svg'" alt="trend-image"></div>
    <div class="trend-title">{{trend.title}}</div>
    <div class="trend-body" *ngIf="mode !== 'small'">{{(trend.body.length > 120) ? (trend.body | slice:0:120) + '...' : trend.body}}</div>
</div>