.trend {
  cursor: pointer;

  &:hover {
    .trend-image img {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .trend-title {
      color: var(--color-accent);
    }
  }

  .trend-image img {
    width: inherit;
    height: inherit;
    border-radius: 6px;
    object-fit: cover;
  }

  /* TREND WITH COVER IMAGE, TITLE AND BODY */
  &.trend-big {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 318px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, transparent);
    color: var(--color-white);

    .trend-image {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      z-index: -1;
    }

    .trend-title {
      font-size: var(--font-4xl);
      font-weight: bold;
      padding: 18px 40px 0;
    }

    .trend-body {
      width: 50%;
      font-size: var(--font-m);
      padding: 8px 40px 40px;
    }

  }

  /* TREND WITH IMAGE, TITLE AND BODY */
  &.trend-medium {

    .trend-image {
      width: 100%;
      height: 253px;
    }

    .trend-title {
      font-size: var(--font-xxl);
      font-weight: bold;
      margin-top: 24px;
    }

    .trend-body {
      font-size: var(--font-l);
      margin-top: 12px;
    }

  }

  /* TREND WITH IMAGE AND TITLE */
  &.trend-small {
    .trend-image {
      width: 100%;
      height: 330px;

      img {
        background-color: var(--color-white);
      }
    }

    .trend-title {
      font-size: var(--font-l);
      font-weight: bold;
      margin-top: 24px;
    }
  }
}